@import "./pages.scss";

.container {
  .img--logo {
    width: 50%;
    align-self: center;
    margin: {
      bottom: 30px;
    }
  }
  .main {
    padding-top: 90px;
    transform: translateY(-60px);
    flex-grow: 1;
    align-self: center;
    width: 80vw;
    min-width: $minWidth - 40px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    input {
      border: 1px solid gray;
      border-radius: 5px;
      height: 30px;
      padding: 10px;
      outline: none;
      font: {
        size: 16px;
      }
    }

    .alert {
      height: 30px;
      text-align: center;
      color: gray;
      display: flex;
      justify-content: center;
      align-items: center;
      font: {
        size: 13px;
      }
    }

    .btn-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
