@import "../var.scss";

.container {
  padding-top: 120px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  max-width: 1300px;
  min-width: $minWidth;
  margin: {
    left: 20px;
    right: 20px;
  }
  padding: {
    bottom: 20px;
  }

  .header-wrapper {
    margin: {
      top: 25px;
    }
    .btn--back {
      color: gray;
      transition: color 0.2s;
      margin: {
        left: 10px;
      }
      &:hover {
        color: lightgray;
      }
    }

    .header {
      color: gray;
      padding: {
        left: 10px;
        right: 10px;
        top: 10px;
        bottom: 20px;
      }
      font: {
        size: 23px;
        weight: 700;
      }
    }
  }
}

.empty {
  text-align: center;
  line-height: 25px;
  color: gray;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  white-space: pre-line;
  font: {
    size: 16px;
  }
}

.footer {
  height: 30px;
  text-align: center;
  margin: {
    top: 50px;
  }
  font: {
    size: 13px;
  }
}

@media screen and (max-width: 350px) {
  .container {
    padding-top: 100px;
    .header-wrapper {
      margin: {
        top: 10px;
      }
    }
  }

  .footer {
    height: 15px;
    text-align: center;
    margin: {
      top: 20px;
    }
    font: {
      size: 13px;
    }
  }
}
