@import "./pages.scss";

.container {
  width: 90vw;
  min-width: calc($minWidth - 20px);
  max-width: 1500px;
  .header-wrapper {
    .header {
      text-align: center;
      margin: {
        bottom: 20px;
      }
    }
  }

  .tab-nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    height: 50px;

    .tab-nav__item {
      flex-basis: 50px;
      transition: all 0.2s;
      cursor: pointer;
      border-top: 1px solid $theme;
      border-left: 1px solid $theme;
      border-right: 1px solid $theme;
      border-radius: 15px 15px 0 0;
      background-color: $theme;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font: {
        size: 20px;
        weight: 700;
      }

      &.active {
        background-color: white;
        color: $theme;
      }
    }
  }

  .tabs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    flex-basis: 50px;
    text-align: center;
    border-left: 1px solid $theme;
    border-right: 1px solid $theme;
    border-bottom: 1px solid $theme;
    border-radius: 0 0 15px 15px;

    .search {
      height: 30px;
      outline: none;
      border: 1px solid $theme;
      border-radius: 5px;
      margin: {
        left: 15px;
        right: 15px;
        top: 40px;
        bottom: 10px;
      }
      padding: {
        left: 10px;
        right: 10px;
      }
      font: {
        size: 16px;
      }
    }

    .palettes {
      text-align: start;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .load-more {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: {
        top: 50px;
        bottom: 30px;
        left: 20px;
        right: 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .tabs {
      .palettes {
        // flex-direction: column;
        // justify-content: flex-start;
        // align-items: center;
        gap: 0;
      }
    }
  }
}
