@import "./pages.scss";

.container {
  position: relative;
  height: fit-content;
  width: 90vw;
  margin: {
    left: 20px;
    right: 20px;
    bottom: 20px;
  }

  .header {
    text-align: center;
  }

  .tab-nav {
    background-color: white;
    position: sticky;
    top: 110px;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin: {
      top: 50px;
    }

    .tab-nav__item {
      flex-basis: 50px;
      transition: all 0.2s;
      cursor: pointer;
      border-top: 1px solid $theme;
      border-left: 1px solid $theme;
      border-right: 1px solid $theme;
      border-radius: 15px 15px 0 0;
      background-color: $theme;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font: {
        size: 20px;
        weight: 700;
      }

      &.active {
        background-color: white;
        color: $theme;
      }
    }
  }

  .palettes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 1px solid $theme;
    border-right: 1px solid $theme;
    border-bottom: 1px solid $theme;
    border-radius: 0 0 15px 15px;
    min-height: 50vh;
    padding: {
      top: 50px;
      bottom: 50px;
    }

    .palette {
      margin: 15px;
      .colors-wrapper {
        overflow: hidden;
        border: 0.1px solid lightgray;
        border-radius: 5px;
        display: flex;
        width: 40vw;
        max-width: 400px;
        height: 10vw;
        min-height: 80px;

        .color {
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.2s;
          flex-shrink: 1;
          cursor: pointer;
          overflow: hidden;
          width: 100%;

          &:hover {
            flex-shrink: 0.8;

            .color-name {
              opacity: 1;
            }
          }

          .color-name {
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            transition: opacity 0.2s;
            opacity: 0;
            padding: 3px;
          }
        }
      }

      .palette-name {
        padding: 5px;
        font: {
          size: 20px;
          weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .palettes {
      // flex-direction: column;

      .palette {
        width: 80vw;
        min-width: 240px;
        margin: 10px;
        .colors-wrapper {
          width: auto;
          max-width: 300%;
        }
      }
    }
  }
}
