@import "../var.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;

  input {
    font-family: "Noto Sans KR", sans-serif;
  }
}
