@import "../var.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  min-height: 100vh;

  input {
    font-family: "Noto Sans KR", sans-serif;
  }
}
