.footer {
  height: 30px;
  text-align: center;
  color: gray;
  margin: {
    top: 50px;
  }
  padding: {
    bottom: 20px;
  }
  font: {
    size: 13px;
    weight: 500;
  }
}

@media screen and (max-width: 350px) {
  .footer {
    height: 15px;
    text-align: center;
    margin: {
      top: 20px;
    }
    font: {
      size: 13px;
    }
  }
}
