@import "../var.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .text--loading {
    position: relative;
    color: $theme;
    font: {
      size: 25px;
      weight: 700;
    }
    &::after {
      content: ".";
      position: absolute;
      color: $theme;
      font: {
        size: 25px;
        weight: 700;
      }
      animation: dots 1s 0.25s infinite;
      @keyframes dots {
        25% {
          content: "..";
        }
        50% {
          content: "...";
        }
        75% {
          content: "....";
        }
      }
    }
  }
}
