@import "../var.scss";

.container {
  width: 100%;
  min-width: $minWidth;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
  background-color: white;
  color: gray;
  padding: {
    left: 20px;
    right: 20px;
  }
  border-bottom: 0.5px solid lightgray;
  box-shadow: 0px 1px 5px gray;
  height: 60px;
  font: {
    weight: 700;
  }

  .wrapper-not-logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .item {
    padding: 10px;
    padding-bottom: 12.5px;
    border-radius: 5px;
    word-break: keep-all;
    transition: all 0.2s;

    font: {
      size: 16px;
    }

    &.logo {
      padding: 7.5px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $theme;
      height: 100%;
      display: inline-flex;
      align-items: center;
      max-width: 110px;

      .img--logo {
        height: inherit;
      }
    }

    &.new,
    &.install {
      background-color: $theme;
      color: white;
      &:hover {
        filter: brightness(1.2);
      }

      &.active {
        color: $theme;
        background-color: white;
      }
    }

    &.login {
      color: gray;
      &:hover {
        color: lightgray;
      }
      &.active {
        color: $theme;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    gap: 15px;
    padding: {
      left: 10px;
      right: 10px;
    }

    .wrapper-not-logo {
      // gap: 5px;
      .item {
        padding: {
          top: 7px;
          left: 7px;
          right: 7px;
          bottom: 8.5px;
        }
        font: {
          size: 13px;
        }
      }
    }
  }
}
