@import "../var.scss";

.container {
  width: 100%;
  min-width: $minWidth;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
  background-color: white;
  color: black;
  padding: 30px 20px;
  border-bottom: 0.5px solid lightgray;
  box-shadow: 0px 1px 5px gray;

  font: {
    weight: 700;
  }

  .wrapper-not-logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .item {
    background-color: white;
    padding: 10px;
    padding-bottom: 12.5px;
    border-radius: 5px;
    word-break: keep-all;
    transition: all 0.2s;

    &.active {
      color: $theme;
    }

    &:not(.new, .logo) {
      &:hover {
        color: gray;
      }
    }

    &.logo {
      color: $theme;
      height: 50px;
      display: inline-flex;
      align-items: center;
      max-width: 110px;
      text-align: center;
      margin-bottom: 5px;
      font: {
        size: 35px;
        weight: 900;
      }
    }

    &.new {
      background-color: $theme;
      color: white;
      &:hover {
        filter: brightness(1.2);
      }
      &.active {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    gap: 15px;
    padding: 20px 10px;

    .wrapper-not-logo {
      gap: 10px;
    }

    .item {
      padding: 5px;
      &.logo {
        font: {
          size: 30px;
        }
      }
    }
  }
}

// @media screen and (max-width: 290px) {
//   .container {
//     flex-direction: column;
//     align-items: flex-end;
//     justify-content: center;
//     gap: 10px;

//     .item {
//       padding: 3px;
//       font: {
//         size: 13px;
//       }
//     }

//     li {
//       &:nth-child(1) {
//         order: 2;
//       }
//       &:nth-child(2) {
//         order: 1;
//       }
//     }
//   }
// }
