@import "../var.scss";

.container {
  width: 100%;
  min-width: $minWidth;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
  background-color: white;
  color: gray;
  padding: 30px 20px;
  border-bottom: 0.5px solid lightgray;
  box-shadow: 0px 1px 5px gray;

  font: {
    weight: 700;
  }

  .wrapper-not-logo {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .item {
    padding: 10px;
    padding-bottom: 12.5px;
    border-radius: 5px;
    word-break: keep-all;
    transition: all 0.2s;

    &.active {
      color: $theme;
    }

    &:not(.new, .logo) {
      &:hover {
        color: lightgray;
      }
    }

    &.logo {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $theme;
      height: 60px;
      display: inline-flex;
      align-items: center;
      max-width: 110px;

      .img--logo {
        height: inherit;
      }
    }

    &.new {
      opacity: 1;
      background-color: $theme;
      color: white;
      &:hover {
        filter: brightness(1.2);
      }
      &.active {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    .item {
      &.logo {
        height: 50px;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .container {
    .item {
      &.logo {
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    gap: 15px;
    padding: 20px 10px;

    .wrapper-not-logo {
      gap: 10px;
    }

    .item {
      padding: 5px;
      &.logo {
        height: 35px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .container {
    .item {
      &.logo {
        height: 30px;
      }
    }
  }
}
