@import "../var.scss";

.palette {
  margin: 15px;
  display: flex;
  flex-direction: column;
  position: relative;

  .colors-wrapper {
    overflow: hidden;
    border: 0.1px solid lightgray;
    border-radius: 5px;
    display: flex;
    width: 40vw;
    max-width: 400px;
    height: 10vw;
    min-height: 80px;

    .color {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      flex-shrink: 1;
      cursor: pointer;
      overflow: hidden;
      width: 100%;

      &:hover {
        flex-shrink: 0.8;

        .color-name {
          opacity: 1;
        }
      }

      .color-name {
        margin: 3px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        transition: opacity 0.2s;
        opacity: 0;
        padding: 3px;
      }
    }
  }

  .palette-name {
    color: gray;
    padding: 5px;
    font: {
      size: 20px;
      weight: 700;
    }
  }

  .author {
    color: gray;
    text-align: end;
    padding: 3px;
    font: {
      size: 13px;
    }
  }

  .btn--delete {
    transition: opacity 0.3s;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    border: none;
    border-radius: 2.5px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    .icon--delete {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 700px) {
  .palette {
    width: 80vw;
    min-width: 240px;
    margin: 10px;
    .colors-wrapper {
      width: auto;
      max-width: 300%;
    }
  }
}
